.btn-red {
    background-color: rgb(216, 63, 86);
    padding: 15px 15px;
    border-radius: 10px;
    color: white;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    box-shadow: black 3px 3px 4px;
    font-size:20px;
    margin: 40px auto;
}
